.img-circle {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px
}

.n-form {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 6px auto;
}

img {
    border: 1px solid #101010;
}

.image-page {
    height: 300px;
    width: 300px;
    margin: 10px;
}

.login-form {
    margin-top: 100px;
}

.error-message {
    color: red;
}